.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 100px;
    padding-right: 15px;
  }
  
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ddd;
  }
  